{{!-- <div class="jumbotron text-center">
  <div class="overlay"></div>
  <div class="caption">
    <h3>Fit-to-Scrape</h3>
    <p>Mongo Scraper</p>
  </div>
</div>
<div class="container-fluid article-container"

<footer class="footer">
    <div class="container">
        <p>Fit-to-Scrape</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../public/assets/javascript/index.js"></script> --}}

<div>
    <h1 class="card z-depth-3 center-align">Fit To Scrape!</h1>
    <div class="row">
      <div class="col s3"></div>
      <h5 class="card z-depth-3 center-align col s6">Mongo Scraper - Discover Articles!</h5>
    </div>
</div>

<div class="row">
  <div class="col s2"></div>
  <div class ="col s8 left-align">
    {{#each article}}
      <div class="card-panel">
        <h4>{{this.title}}</h4>
        {{!-- goes to article.handlebars --}}
        <a href = "/readArticle/{{this._id}}" class="waves-effect waves-light btn pink lighten-1" id="btnSignUp">Read Article</a>
      </div>
    {{/each}}
  </div>
</div>