{{!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Fit-To-Scrape</a>
    </div>
    <ul class="navbar-nav">
      <li class="active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="active">
        <a href="/saved">Saved Articles</a>
      </li>
      <li>
        <a href="/scrape" class="btn btn-danger scrape-new">Scrape New Articles!</a>
      </li>
    </ul>
  </div>
</nav> --}}
{{!--  
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Fit To Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/saved">Saved Articles</a>
      <a class="nav-link" href="/scrape">Scrape New Articles</a>
    </div>
  </div>
</nav> --}}